.manageOrder-btn {
  text-align: center;
  padding: 0 0 15px 0;
}
.manageOrder-btn button {
  background-color: rgb(192, 16, 16);
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.manageOrder-btn button:hover {
  background-color: forestgreen;
}
.manageOrder-btn i {
  color: white;
  margin-right: 5px;
}
.table-manageOrder h6 {
  color: white;
}
.table-manageOrder-head {
  color: #f5bc00;
  text-align: center;
  font-size: 20px;
}
.manageOrder-img {
  text-align: center;
  padding: 5px 0;
}
.manageOrder-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .manageOrder-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
