.aboutUs-section {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../../images/sldierImages/slider2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.aboutUs-text p {
  line-height: 1.8em;
  padding: 10px 0;
}
.team-section {
  padding: 80px 0;
}
.about-section-card img {
  width: 100%;
}
.about-section-card {
  border: none;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.team-header {
  text-align: center;
  padding: 50px 0;
}
.team-header h1 {
  font-size: 40px;
  color: black;
  font-weight: 700;
}
