.table-order {
  background-color: transparent;
  color: white;
}
.order-img {
  text-align: center;
  padding: 10px 0;
}
.table-order img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.table-order h6 {
  color: white;
  padding: 5px 0;
}
.table-head > th {
  color: #f5bc00;
  font-size: 22px;
  text-align: center;
}
.myOrder-btn {
  text-align: center;
  padding: 0 0 15px 0;
}
.myOrder-btn button {
  background-color: rgb(192, 16, 16);
  color: white;
  padding: 5px 20px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.myOrder-btn button:hover {
  background-color: forestgreen;
}
.myOrder-btn i {
  color: white;
  margin-right: 5px;
}
